body {
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #5176a6;
    color: #fff;
    margin: 10px;
    padding: 10px;
}

.main {
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: #5176a6 ;
    border-radius: 10px;
}
.container1 {
    background-color: aliceblue;
    text-decoration: none;
    text-align: center;
    color: black;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #5176a6;
}

.card {
    text-align: center;
    margin-right: 31px;

}
.container2 {
    background-color: aliceblue;
    text-decoration: none;
    text-align: center;
    color: black;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #5176a6;
}
.container3 {
    background-color: aliceblue;
    text-decoration: none;
    text-align: center;
    color: black;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #5176a6;
}
.container4 {
    background-color: aliceblue;
    text-decoration: none;
    text-align: center;
    color: black;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #5176a6;
}
.banner {
    background-color: aliceblue;
    color: black;
    text-align: center;
    font-size: 1em;
    height: 20vh;
    border-radius: 10px;
    border: 5px solid #1b2226;
}